<nav>
    <% if (typeof currentRoute==='undefined' || currentRoute !=='home' ) { %>
        <a href="/home">Home</a>
        <% } %>
            <% if (user) { %>
                <a href="/home#create-itinerary-form">Create New Itinerary</a>
                <a href="/profile">
                    <%= user.username %>'s Profile
                </a>
                <a href="/auth/logout">Logout</a>
                <% } else { %>
                    <% if (currentRoute !=='login' ) { %>
                        <a href="/auth/login">Log In</a>
                        <% } %>
                            <% if (currentRoute !=='signup' ) { %>
                                <a href="/auth/signup">Sign Up</a>
                                <% } %>
                                    <% } %>
</nav>
