<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tripify Home</title>
</head>
<body>
    <header>
        <%- include('../partials/_nav-bar.ejs') %>
        <h1>Welcome back, <%= user.username %>!</h1>
    </header>
    <main>
       <h2> Start planning your next adventure! </h2>
       <%- include('../partials/_itineraryForm.ejs') %>
    </main>

    <footer>
        <p> &copy; 2025 Tripify. All rights reserved.</p>
    </footer>

</body>
</html>
